:root {
  --background-color: #2b2e33;
  --input-background-color: #1e1e1e;
  --iframe-scale: 1.4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: white;
  font-size: 1.1rem;
}

input,
textarea,
select {
  background-color: var(--input-background-color);
  color: white;
}

textarea,
input,
button,
label,
select,
pre code {
  font-size: 1.1rem;
}

a {
  color: white;
}

svg {
  width: 32px;
  height: 32px;
}

fieldset {
  margin-top: 0.5rem;
}

p {
  margin: 0;
}

.fieldset-products-filter input,
.fieldset-board-type input,
.fieldset-language input {
  transform: scale(1.7);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.7rem;
}

.display-none {
  display: none;
}

.fieldset-search-mode {
}

.div-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  /* grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr 0.1fr 1fr; */
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "div-inline div-inline div-inline"
    "fieldset-departure fieldset-destination fieldset-url"
    "fieldset-additional-time fieldset-products-filter fieldset-preview "
    "fieldset-num-journeys fieldset-products-filter fieldset-preview "
    "fieldset-board-type fieldset-products-filter fieldset-preview "
    "fieldset-language fieldset-products-filter fieldset-preview ";

  max-width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
}

.div-inline {
  grid-area: div-inline;
}

.fieldset-departure {
  grid-area: fieldset-departure;
  display: flexbox;
}

.fieldset-destination {
  grid-area: fieldset-destination;
  display: flexbox;
}

.fieldset-products-filter {
  grid-area: fieldset-products-filter;
}

.fieldset-additional-time {
  grid-area: fieldset-additional-time;
}

.fieldset-board-type {
  grid-area: fieldset-board-type;
}

.fieldset-language {
  grid-area: fieldset-language;
}

.fieldset-num-journeys {
  grid-area: fieldset-num-journeys;
}

.fieldset-url {
  grid-area: fieldset-url;
}

.fieldset-preview {
  grid-area: fieldset-preview;
}

select {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

#input-departure-station-search,
#input-destination-station-search,
#select-departure-station,
#select-destination-station,
#input-additional-time,
#input-number-of-journeys,
.div-id {
  width: 100%;
}

#input-departure-station-id,
#input-destination-station-id {
  width: auto;
}

iframe {
  transform: scale(var(--iframe-scale));
  transform-origin: 0 0;
  width: calc(1 / var(--iframe-scale) * 100%);
  height: calc(1 / var(--iframe-scale) * 100%);
  border: none;
  overflow: hidden;
}
.iframe-container {
  /* overflow: hidden; */
  width: 100%; /* Adjust based on your requirements */
  height: 100%rem;
}

.div-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* TOGGLE */

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
/* .toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
} */

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

fieldset {
  position: relative;
}

textarea + button,
iframe + button {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  top: 10px;
  right: 20px;
}

textarea:hover + button,
textarea + button:hover,
iframe:hover + button,
iframe + button:hover {
  opacity: 1;
}

/* MEDIA QUERIES */
@media (max-width: 80em) {
  body {
    /* background-color: rgb(0, 0, 54); */
  }
  .div-container {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr 0.1fr 1fr 0.5fr 1.5fr; */
    grid-template-rows: auto auto auto auto auto auto 10rem 30rem;

    grid-template-areas:
      "div-inline div-inline"
      "fieldset-departure fieldset-destination"
      "fieldset-additional-time fieldset-products-filter"
      "fieldset-num-journeys fieldset-products-filter"
      "fieldset-board-type fieldset-products-filter"
      "fieldset-language fieldset-products-filter"
      "fieldset-url fieldset-url"
      "fieldset-preview fieldset-preview";
  }
}

@media (max-width: 40em) {
  body {
    /* background-color: rgb(0, 27, 0); */
  }
  :root {
    --iframe-scale: 1.1;
  }
  .div-container {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 1fr 0.7fr 1.7fr; */
    grid-template-rows: auto auto auto auto auto auto auto 14rem 20rem;
    grid-template-areas:
      "div-inline div-inline"
      "fieldset-departure fieldset-departure"
      "fieldset-destination fieldset-destination"
      "fieldset-additional-time fieldset-products-filter"
      "fieldset-num-journeys fieldset-products-filter"
      "fieldset-board-type fieldset-products-filter"
      "fieldset-language fieldset-products-filter"
      "fieldset-url fieldset-url"
      "fieldset-preview fieldset-preview";
  }
}
