body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000ce;
  color: white;
  font-size: 1.1rem;
}

textarea,
input {
  font-size: 1.1rem;
}

select {
  font-size: 1.1rem;
}

label {
  font-size: 1.1rem;
}

a {
  color: white;
}

svg {
  width: 32px;
  height: 32px;
}

fieldset {
  margin-top: 0.5rem;
}

p {
  margin: 0;
}

.fieldset-products-filter label {
}

.fieldset-products-filter input,
.fieldset-board-type input {
  transform: scale(1.7);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.7rem;
}

.div-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 0.5fr 1fr 0.1fr fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "div-inline div-inline div-inline"
    "fieldset-departure fieldset-destination fieldset-url"
    "fieldset-additional-time fieldset-products-filter fieldset-preview "
    "fieldset-num-journeys fieldset-products-filter fieldset-preview "
    "fieldset-board-type fieldset-products-filter fieldset-preview ";

  /* max-width: 800px; */
  margin-left: auto;
  margin-right: auto;
}

.div-inline {
  grid-area: div-inline;
}

.fieldset-departure {
  grid-area: fieldset-departure;
  display: flexbox;
}

.fieldset-destination {
  grid-area: fieldset-destination;
  display: flexbox;
}

.fieldset-products-filter {
  grid-area: fieldset-products-filter;
}

.fieldset-additional-time {
  grid-area: fieldset-additional-time;
}

.fieldset-board-type {
  grid-area: fieldset-board-type;
}

.fieldset-num-journeys {
  grid-area: fieldset-num-journeys;
}

.fieldset-url {
  grid-area: fieldset-url;
}

.fieldset-preview {
  grid-area: fieldset-preview;
}

textarea {
  width: 100%;
  height: 6rem;
}

#input-departure-station-search,
#input-destination-station-search,
#select-departure-station,
#select-destination-station,
#input-additional-time,
#input-number-of-journeys,
.div-id {
  width: 100%;
}

#input-departure-station-id,
#input-destination-station-id {
  width: auto;
}

iframe {
  width: 100%;
  height: 15rem;
}

.div-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* TOGGLE */

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
/* .toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
} */

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
/* URL */
code,
pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 0.2em;
    margin: 0;
    font-size: 0.875rem;
    border-radius: 0.8em;
}

pre {
    position: relative;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
    border: 1px solid var(--color-accent);
}
pre code {
    padding: 0;
    font-size: 100%;
}
pre > button {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.1s;
    box-sizing: border-box;
}
pre:hover > button,
pre > button.visible {
    opacity: 1;
}

/* MEDIA QUERIES */

@media (max-width: 40em) {
  .div-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.1fr 0.1fr fr 1fr;
    grid-template-areas:
      "div-inline div-inline"
      "fieldset-departure fieldset-departure"
      "fieldset-destination fieldset-destination"
      "fieldset-additional-time fieldset-products-filter"
      "fieldset-num-journeys fieldset-products-filter"
      "fieldset-board-type fieldset-products-filter"
      "fieldset-url fieldset-url"
      "fieldset-preview fieldset-preview";
  }
}

@media (max-width: 80em) {
  .div-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.1fr 0.1fr 0.1fr fr;

    grid-template-areas:
      "div-inline div-inline"
      "fieldset-departure fieldset-destination"
      "fieldset-additional-time fieldset-products-filter"
      "fieldset-num-journeys fieldset-products-filter"
      "fieldset-board-type"
      "fieldset-products-filter"
      "fieldset-url fieldset-url"
      "fieldset-preview fieldset-preview";
  }
}
